body{

    background-color: lightblue;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.example{
  height: 200px;
  width: 200px;
  overflow-y: auto;     
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll; 
  overflow-x: hidden;
  font-size: 40px;    
}